[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ssc"]
	path = ssc
	url = https://github.com/mabelc/ssc
	shallow = true
	registered = true
